* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.dashboard {
    display: flex;
}

.sidebar {
    height: 100vh;
    width: 300px;
    background-color: #303030;
    color: white;
    padding: 10px;
    position: sticky;
    top: 0;
    left: 0;
}

.content {
    flex: 1;
}

.collection {
    margin-top: 30px;
}

.collection li {
    margin-bottom: 15px;
}

.sidebarLink {
    display: block;
    padding: 4px;
    text-decoration: none;
    margin-top: 4px;
    border-radius: 3px;
    transition: .3s;
}

.sidebarLink.active{
    background-color: white;
    color: #303030;
}